html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

nav, .navbar, .container-fluid, #navbar, .navbar-light {
  background-color: #5F7346;
  color: #FFF3E5;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/* html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
} */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
  resize: vertical;
}

/* Modal Content */
.modal-content {
  position: fixed;
  bottom: 0;
  background-color: #F5E3CD;
  color: #603D43;
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}

/* The Close Button */
.close, .add {
  color: white;
  font-size: 28px;
  font-weight: bold;
  text-align: right;
}

.close:hover,
.close:focus,
.add:hover,
.add:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.modal-header {
  padding: 2px 16px;
  background-color: #8db45b;
  font-family: 'Red Hat Display', sans-serif;
  color: white;
  resize: vertical;
}

.modal-body {padding: 2px 16px;}

/* Create three equal columns that floats next to each other */
.left {
  width: 30%;
  height: 500px;
  background-color: #F5E3CD;
  float: left;
  padding: 10px;
  border-radius: .5rem;
  margin-top: 1rem;
  text-align: center;
  position: relative
}

/* Create three equal columns that floats next to each other */
.middle{
  width: 40%;
  height: 500px;
  background-color: #AB8E81;
  float: left;
  padding: 10px;
  border-radius: .5rem;
  margin-top: 1rem;
  text-align: center;
  position: relative
}

.right {
  width: 30%;
  height: 500px;
  background-color: #F5E3CD;
  float: left;
  padding: 10px;
  border-radius: .5rem;
  margin-top: 1rem;
  text-align: center;
  position: relative
}

/* Create three equal columns that floats next to each other */
.col-format{
  max-height:100%;
  overflow: auto;
}

/* Create three equal columns that floats next to each other */
.hiddenForm{
  display: none; /* Hidden by default */
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 80%;
  right: 0px;
  padding: 1rem 3rem;
  margin: 1rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: .5rem;
  text-align: center;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}
canvas {
    border: 1px solid black;
}

#canvasWrapper {
    position: relative;
    left: 16%;
}

#save {
    position: relative;
    left: 16%;
}
/*
Adding custom CSS
*/
body {
  color: #603D43;
  background-color: #FFF3E5;
  font-family: 'Red Hat Display', sans-serif;
}

/* nav, .navbar, .container-fluid, #navbar, .navbar-light {
  background-color: #5F7346;
  color: #FFF3E5;
} */

.navbar-nav {
  left: 10rem;
}

.nav-link, a.nav-link, .navbar-expand-sm .navbar-toggleable-sm .navbar-light .mb-3 {
  color: #FFF3E5;
  text-decoration: none;
  background-color: transparent;
}

.nav-link:hover, #navbar:hover, a.nav-link {
  color: #FFF3E5;
  /* text-decoration: underline; */
}

.header-title {
  margin-top: 6rem;
  width: 70rem;
}

.btn-primary {
  border: none;
  background-color: #6D8CBB;
}

.btn {
  border: none;
}

.garden-main {
  margin-top: 2rem;
  padding: 5rem;
  width: 60rem;
  height: 20rem;
  border-radius: 0.5rem;
  background-color: #9AB874;
}

.plot {
    background-color: #8E5C47;
    border-radius: 1rem;
    color: #FFF3E5;
    padding: 1rem 2rem 2rem 1rem;
    width: 20rem;
    margin: 1.5rem;
    top:10rem;
}

.plot:hover {
  background-color: #B0968B;
}

/* Sidebar CSS */

.wrapper {
  width: 100%;
  align-items: stretch;
  display: flex;
  background-color: #F5E3CD;
  color: #603D43;
  position: fixed;
  top: 25rem;
  height: 100rem;

}

#sidebar.active {
  margin-left: -250px;
}

#sidebar {
  padding: 2rem;
}

.sidebar-section {
  margin-left: 6rem;
  margin-right: 6rem;
}

.plant-element,
.person-element,
.task-element {
  background-color: white;
  padding: 1rem 3rem;
  margin: 1rem;
  border-radius: 0.5rem;
}

.task-box {
  background-color: #AB8E81;
  padding: 2rem;
  border-radius: 0.5rem;
}

.components {
  display: flex;
  text-align: center;
}


.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

/*List of Gardens*/
.garden-element {
  background-color: #F5E3CD;
  margin: 1.5rem;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 0.5rem;
}

.date {
  color: #5F7346;
}

.description {
  color: black;
  font-weight: 500;
}

.garden-title {
  text-align: center;
}

.month {
  padding: 50px 10px;
  width: 100%;
  background: #5F7346;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

.days li .active {
  padding: 5px;
  background: #5F7346;
  color: white !important
}

#theMap {
    background-size: cover;
    background-image: url("../images/grass.jpg");
    width: 1200px;
    height: 600px;
}