<!-- <div id="theMap">
    <img class="plot" src="/images/grass.jpg" alt="Workplace" usemap="#workmap">
</div> -->
<div id="theMap">
    <img class="plot" src="/images/grass.jpg" alt="Workplace" usemap="#workmap">
    <map name="workmap">
        <area shape="rect" coords="34,44,270,350" class="window" alt="Computer">
    </map>
</div>


<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2 style="text-align:left">Plot Name</h2>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="left">
            <h3>Plants</h3>
            <span id="addPlant" class="add">&oplus;</span>
            <div id="left" class="col-format">
                <div id="plantCards"></div>
            </div>
            <div id="left-form" class="hiddenForm">
                <div>Add a plant!</div>
                <form>
                    <label for="ptype">Plant Type:</label><br>
                    <input type="text" id="ptype" name="ptype" value="Tomato"><br>
                    <input type="submit" id="submitPlant" value="Submit">
                </form> 
            </div>
        </div>
        <div class="middle">
            <h2 style="color:white">Tasks</h2>
            <span id="addTasks" class="add">&oplus;</span>
            <div id="middle" class="col-format">
                <div id="taskCards"></div>
            </div>
            <div id="middle-form" class="hiddenForm">
                <div style="color:white">Add a task!</div>
                <form>
                    <label for="task">Task:</label><br>
                    <input type="text" id="task" name="task" value="Water Plants"><br>
                    <input type="submit" id="submitTask" value="Submit">
                </form> 
            </div>
        </div>
        <div class="right">
            <h3>People</h3>
            <span id="addPeople" class="add">&oplus;</span>
            <div id="right" class="col-format">
                <div id="peopleCards"></div>
            </div>
            <div id="right-form" class="hiddenForm">
               <div>Add a collaborator!</div>
                <form>
                    <label for="name">Name:</label><br>
                    <input type="text" id="name" name="name" value="John Doe"><br>
                    <input type="submit" id="submitPerson" value="Submit">
                </form> 
            </div>
        </div>
      </div>
    </div>
  </div>

</div>

<script>
    const templateContainer = (dataEntry) => `<div class="card"><div class="container">${dataEntry.column1}</div></div>`;


    const setupEachInfo = (element, data) => {
        body = document.getElementById(element);

        const div = document.createElement('div');
        for (let i = 0; i < data.length; i++){
            createContainer(div, data[i])
        }

        body.appendChild(div);
    }

    const setupInfo = () => {
        var dataPlants = [
            { column1: 'Tomatos'},
            { column1: 'Squash'}
        ];
        var dataTask = [
            { column1: 'Water 11/12'},
            { column1: 'Water 11/28'},
            { column1: 'Water 11/29'},
            { column1: 'Water 12/29'},
            { column1: 'Water 12/29'},
            { column1: 'Water 12/29'},
            { column1: 'Water 12/29'},
            { column1: 'Water 12/29'}
        ];
        var dataPeople = [
            { column1: 'Bob'},
            { column1: 'Alice'}
        ];
        var cols = [{col: 'plantCards', data: dataPlants}, {col: 'taskCards', data: dataTask}, {col: 'peopleCards', data: dataPeople}]
        for (let i = 0; i < cols.length; i++){
            setupEachInfo(cols[i].col, cols[i].data)
        }
    }

    const createContainer = (target, data) => {
        const html = templateContainer(data);
        target.insertAdjacentHTML('beforeend', html);
    }

    window.addEventListener('load', setupInfo);

    // Get the modal
    var modal = document.getElementById("myModal");

    var btn = document.getElementsByClassName("window");
    for(let i = 0; i < btn.length; i++){
        btn[i].onclick = function() {
            modal.style.display = "block";
        }
    }

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];
    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
    }

    var addPlant = document.getElementById("addPlant");
    var left = document.getElementById("left");
    var leftForm = document.getElementById("left-form");
    addPlant.onclick = function() {
        left.style.display = "none";
        leftForm.style.display = "block";
    }

    var addTask = document.getElementById("addTasks");
    var middle = document.getElementById("middle");
    var middleForm = document.getElementById("middle-form");
    addTask.onclick = function() {
        middle.style.display = "none";
        middleForm.style.display = "block";
    }

    var addPeople = document.getElementById("addPeople");
    var right = document.getElementById("right");
    var rightForm = document.getElementById("right-form");
    addPeople.onclick = function() {
        right.style.display = "none";
        rightForm.style.display = "block";
    }


</script>